/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

nav {
   padding: 1rem;
}
ul {
    display: flex;
    gap: 1.5rem;
}
ul li {
    display: flex;
}

.home {
    flex: 1;
}


.index-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25rem;
    text-align: center;
    gap: 1.5rem;
}

.information-page, .first-question-page { 
    display: flex;
    padding: 5rem 0rem 0rem 2rem;
}

main form { 
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}



