/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

nav {
   padding: 1rem;
   background-color: aqua;
   font-size: 1.5rem;
   font-weight: 600;
}
ul {
    display: flex;
    gap: 1.5rem;
}
ul li {
    display: flex;
}

.home {
    flex: 1;
}

.button {
    font: bold 1.5rem Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 0.6rem;
    border: 1px solid aqua;
    border-radius: 0.4rem;
}

.button:hover {
    color: white;
    background-color: black;
}

li a {
    text-decoration: none;
    color: #333333; 
}

.home a:hover, .work a:hover, .about a:hover {
    color: white;
}

.personality-pred {
    font-size: 5rem;
    font-weight: 600;
}

.index-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25rem;
    gap: 1.5rem;
}

.information-page { 
    display: flex;
    padding: 5rem 0rem 0rem 2rem;
}

main form { 
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

.first-question-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 20rem 0rem 20rem;
    gap: 1rem;
}

.first-question-page button {
    width: 4rem;
    height: 2rem;
}

.panel {
    display: flex;
    padding-left: 9rem;
    gap: 9rem;
    justify-content: space-between;
}

.first-question-page form div{
    display: flex;
    gap: 5rem;
}

.question label {
    padding-right: 3rem;
}







