main {
    display: flex;
    justify-content: center;
    margin: 30vh;
    
}

.calculator-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    border: 1px solid black;
    padding: 0.5rem;
}

.all-buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 0.42rem;
}

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

.delete {
    grid-column-start: 3;
    grid-column-end: 5;
}

