body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.container {
    
    display: grid;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
}

.headContent {
    display: flex;
    gap: 2em;
    background-color: beige;
    align-items: center;
    font-size: 1.2em;
}

.headContent label {
    font-weight: 600;
    
}

button {
    padding: 0.6em;
    border-radius: 0.6em;
    border: 1px solid black;
    background-color: bisque;
    font-size: 0.8em;
}

button:hover {
    color: azure;
    cursor: pointer;
}