body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    
}
.container {
    
    display: grid;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
}

.headContent {
    display: flex;
    gap: 20px;
}